* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding:20px;
  height:100vh;
  display: flex;
  justify-content: center;
 
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

p {
  margin: 0;
  width: 60%;
}

