* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

header > h1 {
  margin: 0;
  margin-bottom: 10px;
}

header > p {
  margin: 0;
  width: 60%;
}

.status-popup {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #36ac49;
  border-radius: 8px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.status-popup > h2 {
  margin: 0;
  margin-bottom: 10px;
}
.status-popup > p {
  font-weight: bold;
  margin: 0;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
}
.language-card {
  width: auto;
  border-radius: 3px;
  padding: 5px;
}

.word {
  width: auto;
  max-width: 350px;
  margin: 20px auto 20px;
  gap: 3px;
  display: flex;
  justify-content: center;
}

.word-card {
  border-bottom: gainsboro solid 3px;
  padding: 15px;
  background-color: #181717;
  font-weight: bold;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  gap: 5px;
}

.letterBtn {
  width: 35px;
  height: 35px;
  background-color: #cca938;
  border-radius: 5px;
  font-weight: bold;
  cursor:pointer;
}

.btn {
  margin:30px auto 0;
  display: flex;
  justify-content: center;
}

.newGameBtn {
  width:200px;
  height:60px;
  background-color: rgb(0, 132, 255);
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border:rgb(0, 132, 255) 2px solid;
  cursor: pointer;
}